<!-- Screen reader announcements -->
<!-- <div aria-live="polite" id="announcer" class="sr-only"></div> -->

<!-- Skip to main content -->
<!-- <a href="#main-content" class="to-main-content">Skip to main content</a> -->

<!-- Header -->
<!-- <header class="project-header" role="banner">
  <div class="container-lg">
    <h1>{ content.title }</h1>
  </div>
</header> -->

<!-- Main content here -->
<main id="main-content" class="content" role="main">
  <div class="container-lg">
    <div id="wrapper">
    <div class="slide">
      <div class="chartTitle">Policing using less force against black youth</div>
      <div class="chatter">The <span class="legendary blue4">percentage of police use-of-force incidents</span> where the suspect was a black male aged between 16 and 24 has dropped about eight points since 2008.</div>
      <div id="chart" class="chart"></div>
      <div class="byline">Source: Minneapolis Police Department | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>
  </div>
  </div>
</main>

<!-- Footer -->
<!-- <footer role="contentinfo">
  <div class="container-lg">
    <p>Footer content</p>
  </div>
</footer> -->

