<!-- Screen reader announcements -->
<!-- <div aria-live="polite" id="announcer" class="sr-only"></div> -->

<!-- Skip to main content -->
<!-- <a href="#main-content" class="to-main-content">Skip to main content</a> -->

<!-- Header -->
<!-- <header class="project-header" role="banner">
  <div class="container-lg">
    <h1>{ content.title }</h1>
  </div>
</header> -->

<!-- Main content here -->
<main id="main-content" class="content" role="main">
  <div class="container-lg">
    <div id="wrapper">
    <div class="slide">
      <div class="chartTitle">Police are using force against black youth less often</div>
      <div class="chatter"><span class="legendary blue4">Police use-of-force incidents</span> where the suspect was a black male aged 16 to 24 has dropped about eight percentage points since 2008.</div>
      <div id="chart" class="chart"></div>
      <div class="byline">Source: Minneapolis Police Department | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

    <div class="slide">
      <div class="chartTitle">Police still more often use force against black youth</div>
      <div class="chatter">Black youth alone comprised about a quarter of all <span class="legendary blue4">police use-of-force incidents</span> – nearly 4,000 records total – from 2008 through 2018.</div>
      <div id="chartAge" class="chart"></div>
      <div class="byline">Source: Minneapolis Police Department | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

    <div class="slide">
      <div class="chartTitle">Spread across the city</div>
      <div class="chatter"><span class="legendary blue4">Police use-of-force incidents</span> against black youth are most common in North and Central Minneapolis, but still happen all over other areas of the city regardless of crime rate. Mapped against average crime rate per 1,000 residents from 2000 to 2017, shaded from <span class="legendary red1">less</span> to <span class="legendary red5">more</span>.</div>
      <div id="map" class="map"></div>
      <div class="byline">Source: Minneapolis Police Department | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>
  </div>
  </div>
</main>

<!-- Footer -->
<!-- <footer role="contentinfo">
  <div class="container-lg">
    <p>Footer content</p>
  </div>
</footer> -->

