<!-- Main content here -->
<main id="main-content" class="content" role="main">
  <div class="container-lg">
    <div id="wrapper">
    <div class="slide">
      <div class="chartTitle">Decreasing force against black youth</div>
      <div class="chatter">As a percentage of all police use-of-force cases, incidents against <span class="legendary blue4">black youth</span> aged 16-to-24 and <span class="legendary blue2">black young adults</span> aged 25-to-34 gradually declined the past decade.</div>
      <div id="chart" class="chart"></div>
      <div class="byline">Source: Minneapolis Police Department | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

    <div class="slide">
        <div class="chartTitle">arrest rates here</div>
        <div class="chatter"><span class="legendary gray5">arrest rate</span> vs <span class="legendary blue4">force rate</span></div>

        <div class="chart" id="arrestChart"></div>

        <div class="byline">Source: Minneapolis Police Department | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

    <div class="slide">
      <div class="chartTitle">Persistent racial disparities remain</div>
      <div class="chatter">Black youth alone comprised about a quarter of all <span class="legendary blue4">police use-of-force calls</span> from 2008 through 2018.</div>

      <div id="chartAgeB" class="chart adjacent"></div>
      <div id="chartAgeW" class="chart adjacent"></div>

      <div class="byline">Source: Minneapolis Police Department | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>

    <div class="slide">
      <div class="chartTitle">A widespread occurrence</div>
      <div class="chatter">Police use-of-force incidents against <span class="legendary blue4">black youth</span> and <span class="legendary blue2">black young adults</span> are most common in North and Central Minneapolis, but also occur across other neighborhoods of the city regardless of crime rate, mapped here per 1,000 residents from 2000 to 2017 and shaded from <span class="legendary red1">less</span> to <span class="legendary red5">more</span>.</div>
      <div id="map" class="map"></div>
      <div class="byline">Source: Minneapolis Police Department | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
    </div>
  </div>
  </div>
</main>